gTTS==2.5.4
mediapipe==0.10.21
numpy==1.26.4
opencv-contrib-python==4.10.0.84
pandas==2.2.3
pygame==2.6.1
tensorflow==2.17.0
Flask==3.0.3
tables==3.10.1
PyQt5==5.15.11
scikit-learn==1.5.2
matplotlib==3.9.2
gunicorn==23.0.0
flask-limiter==3.8.0
itsdangerous==2.2.0